body{
    background-color: black;
}
#celsius{
    
}

.inputs{
    color:white;
    text-align: center;
    font-size: xx-large;
}

h1,h2{
    color:aqua;
    text-align: center;
}
h2{
    color:aliceblue;
}

#submit{
    font-size: x-large;
}

#celsius,#cels #kelvin, #fahrenheit{
    font-size: x-large;
}

#k,#f{
    color: white;
}